
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #B49A7E;
  margin-bottom: 60px;
}

.wood {
  position: relative;
  text-align: center;
  height: 10em;
  padding-top: 2em;
}

.wood:after {
  position: absolute;
  top: 0;
  left: -890px;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.9;
  background-image: url("../img/wood3.jpg");
  background-position: center;
  z-index: -1;
}

.wood-text{
  width: 100%;
  /*  margin-top: 1em;*/
  line-height: 3.25em;
}

#name {
  font-family: 'Slabo 27px', serif;
  font-weight: normal;
  font-size: 50px;
  color: #FF6600;
  text-shadow: 1px 1px 10px #562F1E;
}


#tagline {
  font-family: 'Architects Daughter', cursive;
  font-weight: normal;
  font-size: 30px;
  color: #FFD119;
  text-shadow: 15px 1px 10px #562F1E;
}

.about{
  font-family: 'Architects Daughter', cursive;
  font-weight: normal;
  font-size: 18px;
  color: #270C04;
  padding: 1em 3em;
}

.projects {
  color: #270C04;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.footer {
  height: 40px;
  background-color: rgba(114, 76, 56, 0.5);
  color: #D9BDA9;
  padding-top: 10px;
  margin-top: 20px;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
}

.footer a {
  color: #D9BDA9;
  text-decoration: none
}

.footer a:hover {
  color: white;
  text-decoration: none;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
